<div id="footer">
	
  <ul>
  	<li id="trade_mark"><img alt="Bola_global_peque" class="icon" src="/images/bola_global_peque.png?1307606955"><%=t('web.name')%></li>
	<li>-</li>
	<li><%=t("footer.rights")%></li>
	<li>-</li>
	<li><a href="/aviso_legal" target="_blank"><%=t("footer.legal_notice")%></a></li>
	<li>-</li>
	<li><a href="/contact/new" id="contact_link"><%=t("footer.contact")%></a></li>
  </ul>
</div>
