<div id="headerFront">
	<div id="banner" class="banner_top">
		<div id="logo_gea">
			<%= link_to(image_tag('logo_gea.png', :alt => t('logo.alt'), :id=>"header_logo"), '/'); %>
		</div>
	</div>
	
	<div class="div_login">
		
		

	<form id="login" class="expose" method="post" action="http://moodle.mundogea.com/login/index.php">
		<b>Login to Moodle</b><br>
		<label>Email:</label><br><input type="text" name="username" id="username" size="20" value="" /><p>
		<label>Contraseña:</label><br><input type="password" name="password" id="password" size="20" value="" />
		<p style="text-align: center">
		<input type="submit" value="Login" />
		</p> 
	</form>


	</div>

</div>

