<nav id="nav_tabs">
	 <ul id="ul_tabs">
            <li class="section left_tab" id="home_li">
                <a href="/" ><%=t("frontpage.tabs.home")%></a>
            </li>
            <li class="section" id="homologaciones_li">
                <a href="/homologaciones"><%=t("frontpage.tabs.homologations")%></a>
            </li>
            <li class="section" id="cursos_li">
                <a href="/cursos"><%=t("frontpage.tabs.courses")%></a>
            </li>
            <li class="section right_tab" id="contacto_li">
                <a href="/contact/new"><%=t("frontpage.tabs.contact")%></a>
            </li>
     </ul>
</nav>