<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>


<%content_for :javascript do%>
  $("#cursos_li").addClass("selected");
<%end%>

    <section>
        <article>
            En construcción
        </article>
    </section>