<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#homologaciones_li").addClass("selected");
  $("#homologaciones_li a").removeClass("clear_text");
<%end%>

    <section>
        <article>
            En construcción
        </article>
    </section>