/*************Basic SECTION ********************/
* {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size:15px;
	letter-spacing: 1px;
}
html, body {
	height: 100%;
}
p {
	padding-top: 0px;
	margin-top: 0px;
}
img {
	border: 0px;
}
div {
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	color: #2A3890;
	text-decoration: inherit;
}
a:hover {
	text-decoration: underline;
}

a.clear_text {
	color: white;
}

.clearfloat {
	clear: both;
	height: 0px;
}

#wrap {
	min-height: 100%;
    width: 100%;   /*for ie*/
	}

#main {overflow:auto; padding-bottom: 30px;}  /* must be same height as the footer */

header, footer, section, nav, article, aside {
	display: block;
}

/****************TEXT CLASSES**************************/


.big_text {
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 3px;
	color: #3B5998;
	margin-bottom: 5px;
}
.medium_text {
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 3px;
	color: #3B5998;
	margin-bottom: 5px;
}

.small_text {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 3px;
	color: #3B5998;
	margin-bottom: 5px;
}

/******* Main Structure SECTION***************************/
body {
	width: 100%;
	margin: 0px auto;
}
#full_content {
	min-height: 552px;
	width: 980px;
	position: relative;
	clear: both;
	margin: 0px auto;
	background-color: white;
}

/*********** header SECTION *********************/
#header_app {
	width: 100%;
	height: 40px;
	padding: 0;
	background: #3B5998;
	padding: 2px 0px 0px 0px;
	color: white;
}

.banner_top_app {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	padding-bottom: 3px;
	position: relative;
}

#logo_gea_app {
	height: 25px;
	margin-right: 10px;
	float: left;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 20px;
}

#header_logo_app {
	height: 25px;
	margin-right: 10px;
	float: left;
}

/*********** footer SECTION *********************/

#footer {
	clear: both;
	height: 25px;
	margin-top: -30px; /* negative value of footer height + padding */
	background: #3B5998;
	padding: 2px 0px 3px 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;	
}
#footer ul {
	list-style-type: none;
	margin: auto;
	width: 600px;
	left: 0%;
	position: relative;
}
#footer ul li {
	display: inline-block;
	margin-right: 4px;
	position: relative;
	font-weight: bold;
	color: white;
	float: left;
	line-height: 25px;
}
#footer_logo {
	height: 25px;
	margin-right: 10px;
	float: left;
}

/**************************placeholder jquery compatibility******************/
/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
	cursor: text;
	padding: 4px 4px 4px 4px;
	color: #999999;
}
/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #999999;
}
input:placeholder, textarea:placeholder {
	color: #999999;
}

#blue_link{
	color: blue;
}

#input_email{
	width: 182px;
}

#input_passwd{
	width: 150px;
}

/*********** Notices SECTION *********************/
.notice, .success, .alert, .error, .validation, #error_explanation {
	border: 1px solid;
	margin: 10px 0px 10px 0px;
	padding: 15px 10px 15px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}
.notice ul, .success ul, .alert ul, .error ul, .validation ul, #error_explanation ul {
	margin-left: 20px;
	list-style-type: none;
}
label.validation_error {
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	width: 90%;
}
.notice {
	border-color: #BDC7D8;
	color: #1F4A75;
	background-color: #DEEFF8;
	background-image: url('btn/info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('btn/success.png');
}
.alert {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('btn/warning.png');
}
.error, #error_explanation {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('btn/error.png');
}

/*********** tabs *********************/
#nav_tabs {
	width: 980px;
	height: 30px;
	position: relative;
	clear: both;
	margin: 0px auto;
}

#ul_tabs {
	list-style: none;
	position: relative;
	left: 0%;
	width: 500px;
	float: left;
}

#ul_tabs li {
	float: left;
	background-color: #3B5998;
	border: solid 1px #AACCCC;
	color: white;
	height: 30px;
}

.left_tab {
	border-bottom-left-radius: 6px;
}

.right_tab {
	border-bottom-right-radius: 6px;
}

#ul_tabs li a:link, a:visited {
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

#ul_tabs li a:hover, a:focus {
	text-decoration: none;
	background-color: #F2F2F2;
	color: #3B5998;
}

#ul_tabs li a {
	display: block;
	padding: 5px 25px 5px 25px;
}

#ul_tabs li.selected {
	position: relative;
	background-color: #F2F2F2;
	color: #3B5998;
	margin-right: -1px;
	position: relative;
	z-index: 11;
}

/*********************** social links **************/

#ul_social_links{
	list-style: none;
	position: relative;
	float: left;
	width: 480px;
}

.social_li{
	display: inline; 
	height:32px;
	line-height:32px;
	float: right;
	margin-left: 8px;
}

.social_a_in_navbar{	
	display: inline; 
	height:32px;
}

.social_image_in_navbar{
	height: 32px;
	vertical-align: middle;
}

.social_text_in_navbar{
	line-height:32px;
}

/*********** DEVISE *********************/
.center_medium_div_with_borders {
	width: 460px;
	height: 360px;
	position: relative;
	clear: both;
	margin: 0px auto;
	border: 2px solid #E0EEF5;
	border-radius: 6px;
	margin-top: 30px;
	padding: 30px 15px 30px 15px;
	text-align: center;
}

.center_medium_div_with_borders p{
	margin-bottom: 10px;
}



/**************************FRONTPAGE************************/

#headerFront {
	width: 100%;
	height: 129px;
	padding: 0;
	background: #3B5998;
	padding: 2px 0px 0px 0px;
	color: white;
}

.banner_top {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#logo_gea {
	height: 129px;
	float: left;
	vertical-align: top;
}

#header_logo {
	height: 129px;
	float: left;
	vertical-align: top;
}

.div_login {
	margin-left: 188px;
	position: relative;
	width: 450px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	margin-top: 20px;
}

.sub_login {
	padding-top: 5px;
}

.sub_login a{
	color: #98A9CA;
}

.second_column{
	padding-left: 10px;
}

#envelope_image {
	width: 450px;
	float: left;
	margin-top: 80px;
}

#half_left{
	width: 488px;
	float: left;
	border-right: 3px solid #98A9CA;
	min-height: 540px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#half_right {
	width: 488px;
	float: left;
	margin-top: 30px;
	margin-bottom: 20px;
}

#frontpage_upper_content_left{
	margin-bottom: 0px;
}

#frontpage_upper_content_right{
	margin-bottom: 12px;
}

#form_contact_right {
	width: 400px;
	float: left;
	margin-left: 100px;
	margin-top: 60px;
}
.content_textarea, .content_email, .content_textfield {
	width: 372px;
}
.content_textarea {
	height: 287px;
}
.plan_list_image {
	width: 50px;
	margin-right: 10px;
	float: left;
}

.plan_list_image_right{
	margin-left: 30px;
}

.plan_list_small_text {
   color: #3B5998;
}

.tick_text{
	color: #999999;
	padding-top: 10px;
}

.tick_small_text{
	color: #999999;
}

.sub_tick_li{
	padding-left: 20px;
}

.big_blue_text {	
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 3px;
	color: #3B5998;
}
.big_green_text {	
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 3px;
	color: #83C905;
}
.vertical_text{
	-moz-transform:rotate(270deg); 
	-moz-transform-origin: bottom left;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom left;
	-o-transform: rotate(270deg);
	-o-transform-origin:  bottom left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.plan_list{
	padding-left: 10px;
}

#vertical1{
	width: 200px;
	left: 80px;
    position: relative;
    top: -80px;
}
#vertical2{
	position: relative;
	left: 100px;
	top: -50px;
	width: 200px;
}
.image_half_left{
	width: 300px;
	margin-left: 94px;
}
.image_half_right{
	width: 250px;
	margin-left: 119px;
}

.ul_plan_list{
	list-style-type: none;
}

.li_plan_list{
	height: 80px;
}

.closing_x{
	padding-left: 10px;
}

.tab_content_title{
	padding: 10px 0 0 20px;
}

.tab_content_content{
	padding-left: 20px;
}


.form_block {
	margin: 10px 0px 10px 0px;
}

.form_title{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #3B5998;
}

#frontpage_login{
	float: right;
}

#gea_world_image{
	width: 350px;
	height: 250px;
	margin: 80px 90px 80px 90px;
}

#gea_world_link1{
	left: 180px;
	top: 50px;
	position: absolute;
}

#gea_world_link2{
	left: 350px;
	top: 180px;
	position: absolute;
}

#gea_world_link3{
	left: 300px;
	top: 350px;
	position: absolute;
}

#gea_world_link4{
	left: 35px;
	top: 300px;
	position: absolute;
}

#gea_world_link5{
	left: 0px;
	top: 120px;
	position: absolute;
}

.mundogea_title{
	padding: 50px 0 25px 50px;
}

.mundogea_content{
	padding: 0 0 30px 40px;
	text-align: justify;
}

.ball_link_selected{
	text-shadow: #6374AB 3px -3px 2px;
}

.mundogea_content_lastline{
	text-align: center;
}

#all_but_header{
	width: 100%;
}
