/****************** HEADER STRUCTURE ******/
#headerFront {
	width: 100%;
	height: 74px;
	padding: 0;
	background: #3B5998;
	padding: 2px 0px 0px 0px;
	color: white;
}
.banner_top {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	padding-bottom: 3px;
	position: relative;
}
#logo_gea {
	height: 63px;
	float: left;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 20px;
}
#header_logo {
	height: 64px;
	float: left;
	vertical-align: top;
}
.div_login {
	margin-left: 200px;
	position: relative;
	width: 580px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	margin-top: 3px;
}
#sub_login {
	margin-top: 10px;
}
#laptop_image, #envelope_image {
	width: 450px;
	float: left;
	margin-top: 80px;
}
#form_right {
	width: 400px;
	float: left;
	margin-top: 100px;
	margin-left: 100px;
}
#form_contact_right {
	width: 400px;
	float: left;
	margin-left: 100px;
	margin-top: 60px;
}
.content_textarea, .content_email, .content_textfield {
	width: 372px;
}
.content_textarea {
	height: 287px;
}
.tick_front {
	width: 50px;
	margin-top: 10px;
	margin-right: 10px;
}
.tick_text {
	font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 3px;
	line-height: 18px;
	margin: 0px;
}
#big_message {
	font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 3px;
	line-height: 18px;
	margin-left: 150px;
	clear:both;
	padding: 50px 0 50px 0;
	color: #3B5998;
}
