<div id="header_app">
	<div id="banner" class="banner_top_app">
		<div id="logo_gea_app">
			<%= link_to(image_tag('logo_gea_footer.gif', :alt => t('logo.alt'), :id=>"header_logo_app"), '/'); %>
		</div>
	</div>

</div>

