<nav id="nav_tabs">
	 <ul id="ul_tabs">
            <li class="section left_tab" id="home_li">
                <a href="/" class="clear_text"><%=t("frontpage.tabs.home")%></a>
            </li>
            <li class="section" id="homologaciones_li">
                <a href="/homologaciones" class="clear_text"><%=t("frontpage.tabs.homologations")%></a>
            </li>
            <li class="section" id="cursos_li">
                <a href="/cursos" class="clear_text"><%=t("frontpage.tabs.courses")%></a>
            </li>
            <li class="section right_tab" id="contacto_li">
                <a href="/contacts/new" class="clear_text"><%=t("frontpage.tabs.contact")%></a>
            </li>
     </ul>
     <iframe src="//www.facebook.com/plugins/like.php?app_id=224990917555373&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fmundogea%2F265352206816974&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</nav>