<nav id="nav_tabs">
	 <ul id="ul_tabs">
            <li class="section left_tab" id="home_li">
                <a href="/" class="clear_text"><%=t("frontpage.tabs.home")%></a>
            </li>
            <li class="section" id="homologaciones_li">
                <a href="/homologaciones" class="clear_text"><%=t("frontpage.tabs.homologations")%></a>
            </li>
            <li class="section" id="cursos_li">
                <a href="/cursos" class="clear_text"><%=t("frontpage.tabs.courses")%></a>
            </li>
            <li class="section right_tab" id="contacto_li">
                <a href="/contacts/new" class="clear_text"><%=t("frontpage.tabs.contact")%></a>
            </li>
     </ul>
</nav>